.card {
  border-radius: 8px;
  border: 1px solid rgba(53, 184, 190, 0.16);
  background: #fff;
  max-width: 578px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 21px;
  font-weight: 400;
  font-family: Inter, sans-serif;
}

.imageContainer {
  height: 118px;
  width: 118px;
  margin-right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageContainer img {
  object-fit: contain;
  max-height: 100%;
  width: auto;
}

.cardContent {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.cardHeader {
  margin-bottom: 17px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardName {
  letter-spacing: 0.62px;
  font-size: 17px;
  color: #08090a;
}

.cardPrice {
  border-radius: 5px;
  background: rgba(53, 184, 190, 0.11);
  color: #35b8be;
  min-width: 102px;
  padding: 5px 9px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.cardDescription {
  letter-spacing: 0.31px;
  line-height: 23px;
  color: #546285;
  max-width: 348px;
  margin-bottom: 6px;
  font-size: 15px;
  text-align: start;
}

.cardActions {
  gap: 10px;
  display: flex;
}

.quantityInput {
  border-radius: 7px;
  border: 1px solid #dddddd;
  background: #fafafa;
  width: 62px;
  color: #08090a;
  font-size: 15px;
  text-align: center;
}

.button {
  height: 45px;
}

@media (max-width: 800px) {
  .card {
    padding: 6px;
  }

  .button {
    height: 44px;
    width: 108px;
  }
}
