@import "normalize.css/normalize.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

:root {
  --primary-color: #35b8be;
  --primary-color-dark: #2a9196;
  --primary-color-light: rgba(53, 184, 190, 0.16);
  --text-color: #08090a;
  --text-color-secondary: #546285;
  --background-color: #fff;
  --border-color: rgba(53, 184, 190, 0.16);
  --shadow-color: rgba(53, 184, 190, 0.12);

  font-weight: 400;
  line-height: 1.5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-size: clamp(14px, 0.5vw + 13px, 16px);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;

  scroll-behavior: smooth;
}

/* Light theme (default) */
:root,
body[data-theme="light"] {
  --primary-color: #35b8be;
  --primary-color-dark: #2a9196;
  --primary-color-light: rgba(53, 184, 190, 0.16);
  --text-color: #08090a;
  --text-color-secondary: #546285;
  --background-color: #fff;
  --border-color: rgba(53, 184, 190, 0.16);
  --shadow-color: rgba(53, 184, 190, 0.12);
}

/* Dark theme */
body[data-theme="dark"] {
  --primary-color: #35b8be;
  --primary-color-dark: #2a9196;
  --primary-color-light: rgba(53, 184, 190, 0.16);
  --text-color: #f3f3f3;
  --text-color-secondary: #b0b8c9;
  --background-color: #121212;
  --border-color: rgba(53, 184, 190, 0.32);
  --shadow-color: rgba(53, 184, 190, 0.32);
}

body {
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  background-color: var(--background-color);
  background: var(--background-color);
  color: var(--text-color);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.22s ease;
}

a:hover {
  color: var(--primary-color-dark);
}

h1 {
  line-height: 1.22;
  font-size: clamp(32px, 5vw + 16px, 50px);
}

h2 {
  line-height: 1.31;
  font-size: clamp(24px, 3vw + 14px, 36px);
}

h3 {
  line-height: 1.42;
  font-size: clamp(18px, 2vw + 12px, 24px);
}

.container {
  width: 100%;
  max-width: 1190px;
  padding: 0 21px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }
}

.hide-on-mobile {
  display: block;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

.hide-on-desktop {
  display: none;
}

@media (max-width: 768px) {
  .hide-on-desktop {
    display: block;
  }
}
